footer
    .footer
        .container
            .row
                .col-sm-6
                    ul
                        each val, index in ['item one', 'item two', 'item three']
                            li= val

                .col-sm-6
                    ul
                        each val, index in ['item one', 'item two', 'item three']
                            li= val
