header
    .header
        .container
            .row
                .col-xs-2
                    h1 logo

                .col-sm-6
                    ul
                        each val, index in ['home', 'abouts us', 'contact us']
                            li= val
